<section id="pizza">
    <h1>Votre Panier</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-xs-6" colspan="2"></th>
                <th class="col-xs-2">Prix</th>
                <th class="col-xs-2">Quantité</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.pizzaPanier track by item.id">
                <td style="width:12%">
                    <img ng-src="{{item.imageUrl}}" style="width:100%">
                </td>
                <td>
                    <strong>{{item.nom}}</strong><br/>
                    <strong>Ingrédients : </strong>
                    <ul ng-repeat="ing in item.ingredients">
                        <li>{{ing}}</li>
                    </ul>
                </td>
                <td style="text-align: center">{{item.prix}}€</td>
                <td>
                    <input type="number" step="1" ng-model="item.nbQuantite" min="1" max="100">
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: right">
                    Total<br> Promotion -10%<br> Total à payer</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>