<div class="container text-center">
  <h1>Commande</h1>
  
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 ">
      <div class="panel panel-default">
        <div class="panel-heading">Vos achats</div>
        <div class="panel-body">
         

<!--*******************container des pizzas ***************  -->
          <div class="col-xs-4" ng-repeat="item in $ctrl.local track by item.id">
            <div class="panel panel-default" >
              <div class="panel-body text-center">
                <h3>{{item.nom}}</h3>
                <img ng-scr="{{item.imageUrl}}"  class="img-responsive" />
                <ul>
                <li ng-repeat="ing in item.ingredients"> {{ing}} </li>
                </ul>
                <span class="prix">{{item.prix}} €</span><br></br>
                <span>Quantité :{{item.nbQuantite}}</span>
              </div>
            </div>
          </div>
<!--****************************************  -->


<!--  -->
    </div>
    
    <a href="#!/panier" class="btn btn-block btn-primary add" data-id="1">Modifier</a>
<!-- /*****section 2******** -->
    <div class="ro-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">Où voulez vous manger ? </div>
        <div class="panel-body text-left">
        

          <img ng-style="$ctrl.myStyleEmporter" class="col-xs-offset-1"  width="25%" src='./img/emporter-logo.png' ng-click="$ctrl.emporter() ">
          <img ng-style="$ctrl.myStyleLivraison" class="col-xs-offset-3"  width="25%" src='./img/livraison-logo.jpg' ng-click="$ctrl.livraison() ">  

            <button  ng-disabled="$ctrl.typelivraison==undefined" ng-click="$ctrl.save()" class="btn btn-success btn-block" >Confirmer commande</button>
    </div>
    
  </div>
</div>