

<div class="container">

    <!-- https://stackoverflow.com/questions/14379934/how-to-filter-a-list-in-angularjs-using-several-links -->
    <button ng-click="filterCat = null" type="button" class="btn btn-default">Tous</button>
    <button ng-click="filterCat = {categorie: 'fromage'}" type="button" class="btn btn-default">Fromage</button>
    <button ng-click="filterCat = {categorie: 'viande'}" type="button" class="btn btn-default">Viande</button>
    <button ng-click="filterCat = {categorie: 'poisson'}" type="button" class="btn btn-default">Poisson</button>

    <br>

    <div ng-repeat="pizza in $ctrl.pizzas | filter:filterCat" class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <img ng-src="pizza.imageUrl" width="100%">					
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button ng-click="$ctrl.ajoutPanier()" type="button" class="btn btn-default">Ajouter au panier</button>		
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button ng-click="$ctrl.retirer()" type="button" class="btn btn-default">Retirer</button>			
                </div>
            </div>
        </div>
    </div>

</div>