

<div class="container">
    <!-- https://stackoverflow.com/questions/14379934/how-to-filter-a-list-in-angularjs-using-several-links -->
    <button ng-click="$ctrl.filterCat = {}" type="button" class="btn btn-default">Toutes ({{$ctrl.pizzas.length}})</button>

    <button ng-repeat="cat in $ctrl.categories" ng-click="$ctrl.update(cat)" type="button" class="btn btn-default">{{cat | capitalize}} ({{$ctrl.nbCategories(cat)}})</button>

    <br> <br>

    <div ng-repeat="pizza in $ctrl.pizzas | filter:$ctrl.filterCat" class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="text-center">{{pizza.nom}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <img ng-src="{{pizza.imageUrl}}" width="100%">					
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button ng-click="$ctrl.ajoutPanier(pizza.id)" type="button" class="btn btn-default btn-block">Ajouter au panier</button>		
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button ng-click="$ctrl.retirerPanier(pizza.id)" type="button" class="btn btn-default btn-block">Retirer ({{$ctrl.nbPizzasPanierById(pizza.id)}})</button>			
                </div>
            </div>
        </div>
    </div>

</div>